<%- include('../partials/main_header.ejs') %>

<div class="container-fluid learn__main">

  <h1>Game</h1>

</div>

<div class="container-fluid learn__validation">

  <h2>Forms</h2>

  <form>
    <input class="learn_input" type="text" placeholder="Voer je naam in" id="learn_form1_naam" />
  </form>

  <button class="btn btn-primary learn_input__btn" id="learn_form1_submit">Verstuur</button>

</div>

<%- include('../partials/main_footer.ejs') %>
