<%- include('partials/main_header.ejs') %>

  <div class="container-fluid container__main">

    <h1>Homepage</h1>
    <p id="greetDate"></p><br />

    <p>Je hebt de pagina in totaal <strong><span id="reloadCount"></span></strong> keer herladen</p>

    <a class="btn btn-primary" id="openDefaultModal">Klik hier</a>

  </div>

<%- include('partials/main_footer.ejs') %>
