<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heroku Node Application</title>

	   <link rel="stylesheet" type="text/css" href="dist/style/main.css"

</head>
<body>

    <h1>Homepage</h1>

    <script src="dist/js/main.js"></script>

</body>
</html>
